<fieldset data-hook="credit_card">
  <legend align="center"><%= SolidusPaypalCommercePlatform::PaymentMethod.model_name.human %></legend>

  <div class="row">
    <div class="alpha six columns">
      <dl>
        <dt><%= I18n.t("spree.identifier") %>:</dt>
        <dd><%= payment.number %></dd>

        <dt><%= I18n.t("paypal_capture_id") %>:</dt>
        <dd><%= payment.source.capture_id %></dd>

        <dt><%= I18n.t("paypal_email") %>:</dt>
        <dd><%= payment.source.paypal_email %></dd>

        <dt><%= I18n.t("paypal_funding_source") %>:</dt>
        <dd><%= payment.source.display_paypal_funding_source %></dd>
      </dl>
    </div>
  </div>
</fieldset>
